@import url('https://unpkg.com/swiper/css/swiper.min.css');

* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Broadway";
  src: url("./fonts/Broadway/Broadway-Normal.woff") format("woff"), url('./fonts/Broadway/Broadway-Normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Scriptina";
  src: url("./fonts/Scriptina/Scriptina.woff") format("woff"), url('./fonts/Scriptina/Scriptina.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Rustico";
  src: url("./fonts/Rustico+Brush+Font/Rustico-V2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  min-width: 100%;
  min-height: 100%;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 16px;
  font-family: "Broadway";
  font-family: "Scriptina";
}

h1 {
  font-size: 3.75rem; }

.main {
  height: 100vh;
}

.main h1 {
    letter-spacing: 0.8rem;
    color: #fff;
}

.project {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
}

.project__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project__img::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, #FFA07A 0%, SALMON 47%, tomato 100%);
  mix-blend-mode: difference;
}

.project__name {
  font-size: 6rem;
  font-family: "Rustico";
  text-align: center;
  color: cornsilk;
  mix-blend-mode: soft-light;
}

.project__links {
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}

.project__link {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
  background: transparent;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: background-color .2s ease;
}

.project__link svg {
  fill: rgba(255, 255, 255, 0.3);
  transition: fill .2s ease;
}

.project__link:hover {
  background: rgba(255, 255, 255, 0.3);
}

.project__link:hover svg {
  fill: rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
  .project__name {
    font-size: 9rem;
  }
}

@media (min-width: 1280px) {
  .project__name {
    font-size: 13.26vw;
  }

  .project__link {
    width: 2rem;
    height: 2rem;
  }
}